.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.size-modal {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  width: 90%;
  max-width: 500px;
  text-align: center;
}

.modal-img {
  height: 100%;
  max-width: auto;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 1rem;
}

.sizes button {
  margin: 0.5rem;
  padding: 0.5rem 1.2rem;
  border: 1px solid #ccc;
  background: #f9f9f9;
  cursor: pointer;
  border-radius: 8px;
}

.sizes button:hover {
  background: #eee;
}

.close-btn {
  margin-top: 1rem;
  background: #000;
  color: #fff;
  border: none;
  padding: 0.6rem 1.5rem;
  border-radius: 8px;
  cursor: pointer;
}
